<div class="">
    <form [formGroup]="FormLogin" (ngSubmit)="onSubmit()" class="custom-form mx-auto" method="post">
        <h1>Login</h1>
        <input type="email" id="email" name="email" placeholder="Introduce tu E-mail" required="required" formControlName="email" class="form-control" />
        <div *ngIf="submitted && form.email.errors">
            <div>El correo: </div>
            <div *ngIf="form.email.errors.required">No puede estar vacío</div>
            <div *ngIf="form.email.errors.pattern">Dirección de correo no valida</div>
        </div>
        <input type="password" name="password" id="password" placeholder="Password" required="required" formControlName="password" class="form-control" />
        <div *ngIf="submitted && form.password.errors">
            <div>La contraseña: </div>
            <div *ngIf="form.password.errors.required">No puede estar vacío</div>
            <div *ngIf="form.password.errors?.min">Longuitud mínima 8 caracteres</div>
        </div>
        <button type="submit">Iniciar</button>
    </form>
</div>