<form [formGroup]="FormLogin" (ngSubmit)="onSubmit()" class="custom-form mx-auto" method="post">
    <h1>Login</h1>
    <label class="label" for="email">E-mail</label>
    <div class="control">
        <input class="input" type="email" formControlName="email" />
        <div class="text-danger" *ngIf="FormLogin.get('email')!.hasError('required') && FormLogin.get('email')!.touched ">
            Es obligatorio un email
        </div>
        <div class="text-danger" *ngIf="FormLogin.get('email')!.hasError('email') && FormLogin.get('email')!.touched ">
            Debes introducir un e-mail valido: Xxxxx@xxx.xx
        </div>
    </div>
    <label class="label" for="password">password</label>
    <div class="control">
        <input class="input" type="password" formControlName="password" />
        <div class="text-danger" *ngIf="FormLogin.get('password')!.hasError('required') && FormLogin.get('password')!.touched">
            Es obligatorio una contraseña
        </div>
        <div class="text-danger" *ngIf="FormLogin.get('password')!.hasError('minlength') && FormLogin.get('password')!.touched">
            La contraseña tiene que tener minimo de 8 caracteres.
        </div>
    </div>
    <p>{{message}}</p>
    <button [disabled]="FormLogin.invalid" type="submit">Iniciar</button>
</form>