<form [formGroup]="FormRegister" (ngSubmit)="onSubmit()" class=" custom-form container" method="post ">
    <h1 class="text-center">Registro</h1>
    <hr>
    <div class="row ">
        <div class="control col-6 ">
            <label class="label" for="email ">E-mail</label>
            <input class="input" name="email " id="email" type="email" formControlName="email" />
            <div class="text-danger col-6 " *ngIf="FormRegister.get( 'email')!.hasError( 'required') && FormRegister.get( 'email')!.touched ">
                Campo obligatorio
            </div>
            <div class="text-danger col-6 " *ngIf="FormRegister.get( 'email')!.hasError( 'email') && FormRegister.get( 'email')!.touched ">
                formato email@dominio.xx
            </div>
        </div>
        <div class="control col-6 ">
            <label class="label " for="password">Contraseña</label>
            <input class="input " name="password" id="password" type="password" formControlName="password" />
            <div class="text-danger col-6 " *ngIf="FormRegister.get( 'password')!.hasError( 'required') && FormRegister.get( 'password')!.touched ">
                Campo obligatorio
            </div>
            <div class="text-danger col-6 " *ngIf="FormRegister.get( 'password')!.hasError( 'minlength') && FormRegister.get( 'password')!.touched ">
                minimo de 8 caracteres.
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="form-group col-5 ">
            <label class="label " for="name ">Nombre</label>
            <input class="input " name="name " id="name" type="text " formControlName="name" />
            <div class="text-danger col-4 " *ngIf="FormRegister.get( 'name')!.hasError( 'required') && FormRegister.get( 'name')!.touched ">
                Campo obligatorio
            </div>
            <div class="text-danger col-4 " *ngIf="FormRegister.get( 'name')!.hasError( 'pattern') && FormRegister.get( 'name')!.touched ">
                Primera letra en mayuscula.
            </div>
        </div>
        <div class="form-group col-7 ">
            <label class="label" for="lastname">Apellidos</label>
            <input class="input" name="lastname" id="lastname" type="text " formControlName="lastname" />
            <div class="text-danger col-5 " *ngIf="FormRegister.get( 'lastname')!.hasError( 'required') && FormRegister.get( 'lastname')!.touched ">
                Campo obligatorio
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-3 ">
            <label class="label " for="dni">DNI</label>
            <input class="input " name="dni" id="dni" type="text " formControlName="dni" />
            <div class="text-danger col-3 " *ngIf="FormRegister.get( 'dni')!.hasError( 'required') && FormRegister.get( 'dni')!.touched ">
                Campo obligatorio
            </div>
            <div class="text-danger col-3 " *ngIf="FormRegister.get( 'dni')!.hasError( 'pattern') && FormRegister.get( 'dni')!.touched ">
                formato 00000000X.
            </div>
        </div>
        <div class="form-group col-3 ">
            <label class="label" for="phone">Telefono</label>
            <input class="input" name="phone" id="phone" type="text" formControlName="phone" />
            <div class="text-danger " *ngIf="FormRegister.get( 'phone')!.hasError( 'required') && FormRegister.get( 'phone')!.touched ">
                Campo obligatorio
            </div>
            <div class="text-danger " *ngIf="FormRegister.get( 'phone')!.hasError( 'pattern') && FormRegister.get( 'phone')!.touched ">
                formato 666666666.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12 ">
            <div class="form-group col-5">
                <label for="opcion">Selecciona el tipo de usuario</label>
                <select name="opcion" class="form-control" id="opcion" formControlName="opcion">
                  <option value="restaurante" >Restaurante</option>
                  <option value="repartidor">Repartidor</option>
                  <option value="cliente">Cliente</option>
                </select>
                <div class="text-danger " *ngIf="FormRegister.get( 'opcion')!.hasError( 'required') && FormRegister.get( 'opcion')!.touched ">
                    Campo obligatorio
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Registrar</button>
</form>